@import 'styles/global.mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.background-red {
  background-color: rgb(153, 50, 50) !important;
  //border: 3px solid rgb(153, 50, 50) !important;
}
.background-green {
  background-color: rgb(29, 102, 29) !important;
  //border: 3px solid rgb(29, 102, 29) !important;
}
